/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#listItems {
    font-size: 35px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.content {
    flex-direction: row;
    display: flex;
    width: 100vw;
        justify-content: space-between;
}

.checkbox-list {
    display: flex;
    flex-direction: column;
}

.menu-category {
    display: flex;
    flex-direction: column;
}

form {
    padding: 50px;
    flex-grow: 0;
    background-color: dimgray;
    width: 300px;

}

form #commands {
        right: 0;
        position: absolute;
}

.menu-item {
    border-bottom: 1px dotted thick gray;
    margin: 10px;
    padding-bottom: 20px;
}

h4 {
    margin-bottom: 5px;
}
